<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptu.devCloud.mapper.DictMapper">
	<resultMap id="BaseResultMap" type="com.ptu.devCloud.entity.Dict">
            <result column="id" property="id" />
	        <result column="dict_name" property="dictName" />
	        <result column="dict_value" property="dictValue" />
	        <result column="create_by" property="createBy" />
	        <result column="create_date" property="createDate" />
	        <result column="update_by" property="updateBy" />
	        <result column="update_date" property="updateDate" />
	        <result column="status" property="status" />
		</resultMap>  
    
    <!-- 表字段 -->
    <sql id="baseColumns">
         t.id
        , t.dict_name
        , t.dict_value
        , t.create_by
        , t.create_date
        , t.update_by
        , t.update_date
        , t.status
        </sql> 
    
 
 	<!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Long">
		SELECT         
        	<include refid="baseColumns" />
		FROM dict t
		WHERE id = #{id}
	</select>
    <select id="selectListByQueryParams" resultMap="BaseResultMap">
		SELECT
		<include refid="baseColumns" />
		FROM dict t
		<where>
			<if test="params.dictName != null and params.dictName != ''">
				t.dict_name like CONCAT(CONCAT('%', #{params.dictName}), '%')
			</if>
			<if test="params.dictValue != null and params.dictValue != ''">
				and t.dict_value like CONCAT(CONCAT('%', #{params.dictValue}), '%')
			</if>
			<if test="params.startDate != null">
				<![CDATA[
					and t.create_date >= #{params.startDate}
				]]>
			</if>
			<if test="params.endDate != null">
				<![CDATA[
					and t.create_date <= #{params.endDate}
				]]>
			</if>
			<if test="params.status != null">
				and t.status = #{params.status}
			</if>
		</where>
		ORDER BY t.create_date DESC
	</select>

    <!-- 插入全部字段 -->
    <insert id="insert" parameterType="com.ptu.devCloud.entity.Dict"
		keyProperty="id" keyColumn="id" >
	INSERT INTO dict
    	<trim prefix="(" suffix=")" suffixOverrides=",">	 
    	    	    	id,
    	    	    	    	dict_name,
    	    	    	    	dict_value,
    	    	    	    	create_by,
    	    	    	    	create_date,
    	    	    	    	update_by,
    	    	    	    	update_date,
    	    	    	    	status,
    	    	    	</trim>
    	<trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
    	    	        #{id},                   
    			    	        #{dictName},                   
    			    	        #{dictValue},                   
    			    	        #{createBy},                   
    			    	        #{createDate},                   
    			    	        #{updateBy},                   
    			    	        #{updateDate},                   
    			    	        #{status},                   
    			    	</trim>
	</insert>
    
    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="com.ptu.devCloud.entity.Dict"
        keyProperty="id" keyColumn="id" >
        INSERT INTO dict    
        <trim prefix="(" suffix=")" suffixOverrides=",">	 
        		        <if test="id != null">
			id,
		</if>
                		        <if test="dictName != null">
			dict_name,
		</if>
                		        <if test="dictValue != null">
			dict_value,
		</if>
                		        <if test="createBy != null">
			create_by,
		</if>
                		        <if test="createDate != null">
			create_date,
		</if>
                		        <if test="updateBy != null">
			update_by,
		</if>
                		        <if test="updateDate != null">
			update_date,
		</if>
                		        <if test="status != null">
			status,
		</if>
                        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
                        <if test="id != null" >
			#{id},                    
        </if>
                                <if test="dictName != null" >
			#{dictName},                    
        </if>
                                <if test="dictValue != null" >
			#{dictValue},                    
        </if>
                                <if test="createBy != null" >
			#{createBy},                    
        </if>
                                <if test="createDate != null" >
			#{createDate},                    
        </if>
                                <if test="updateBy != null" >
			#{updateBy},                    
        </if>
                                <if test="updateDate != null" >
			#{updateDate},                    
        </if>
                                <if test="status != null" >
			#{status},                    
        </if>
                        </trim>
    </insert>

	<!-- 更新,更新全部字段 -->
    <update id="update" parameterType="com.ptu.devCloud.entity.Dict">
    UPDATE dict
     <set>		
                    		dict_name=#{dictName},        
               		dict_value=#{dictValue},        
               		create_by=#{createBy},        
               		create_date=#{createDate},        
               		update_by=#{updateBy},        
               		update_date=#{updateDate},        
               		status=#{status},        
               </set>	
    WHERE id = #{id}
    </update>  
    
    
    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="com.ptu.devCloud.entity.Dict">
    UPDATE dict
    <set>
		    		<if test="dictName != null" >
		dict_name=#{dictName},                 
	</if>
	    		<if test="dictValue != null" >
		dict_value=#{dictValue},                 
	</if>
	    		<if test="createBy != null" >
		create_by=#{createBy},                 
	</if>
	    		<if test="createDate != null" >
		create_date=#{createDate},                 
	</if>
	    		<if test="updateBy != null" >
		update_by=#{updateBy},                 
	</if>
	    		<if test="updateDate != null" >
		update_date=#{updateDate},                 
	</if>
	    		<if test="status != null" >
		status=#{status},                 
	</if>
	        </set>
    WHERE id = #{id}
    </update>



</mapper>