<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptu.devCloud.mapper.ProjectRepositoryMapper">
	<resultMap id="BaseResultMap" type="com.ptu.devCloud.entity.ProjectRepository">
        <result column="id" property="id" />
        <result column="project_id" property="projectId" />
        <result column="repo_name" property="repoName" />
        <result column="repo_remark" property="repoRemark" />
        <result column="repo_type" property="repoType" />
        <result column="repo_url" property="repoUrl" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
	</resultMap>  
    
    <!-- 表字段 -->
    <sql id="baseColumns">
		 t.id
		, t.project_id
		, t.repo_name
		, t.repo_remark
		, t.repo_type
		, t.repo_url
		, t.create_by
		, t.create_date
		, t.update_by
		, t.update_date
    </sql> 
    
 
 	<!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Long">
		SELECT         
        	<include refid="baseColumns" />
		FROM project_repository t
		WHERE id = #{id}
	</select>

	<!-- 插入全部字段 -->
    <insert id="insert" parameterType="com.ptu.devCloud.entity.ProjectRepository"
		keyProperty="id" keyColumn="id" >
		INSERT INTO project_repository
    	<trim prefix="(" suffix=")" suffixOverrides=",">	 
    		id,
    		project_id,
    		repo_name,
    		repo_remark,
    		repo_type,
    		repo_url,
    		create_by,
    		create_date,
    		update_by,
    		update_date,
    	</trim>
    	<trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
        	#{id},                   
        	#{projectId},                   
        	#{repoName},                   
        	#{repoRemark},                   
        	#{repoType},                   
        	#{repoUrl},                   
        	#{createBy},                   
        	#{createDate},                   
        	#{updateBy},                   
        	#{updateDate},                   
    	</trim>
	</insert>
    
    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="com.ptu.devCloud.entity.ProjectRepository"
        keyProperty="id" keyColumn="id" >
        INSERT INTO project_repository    
		<trim prefix="(" suffix=")" suffixOverrides=",">	 
			<if test="id != null">
				id,
			</if>
			<if test="projectId != null">
				project_id,
			</if>
			<if test="repoName != null">
				repo_name,
			</if>
			<if test="repoRemark != null">
				repo_remark,
			</if>
			<if test="repoType != null">
				repo_type,
			</if>
			<if test="repoUrl != null">
				repo_url,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
			<if test="id != null" >
				#{id},                    
			</if>
			<if test="projectId != null" >
				#{projectId},                    
			</if>
			<if test="repoName != null" >
				#{repoName},                    
			</if>
			<if test="repoRemark != null" >
				#{repoRemark},                    
			</if>
			<if test="repoType != null" >
				#{repoType},                    
			</if>
			<if test="repoUrl != null" >
				#{repoUrl},                    
			</if>
			<if test="createBy != null" >
				#{createBy},                    
			</if>
			<if test="createDate != null" >
				#{createDate},                    
			</if>
			<if test="updateBy != null" >
				#{updateBy},                    
			</if>
			<if test="updateDate != null" >
				#{updateDate},                    
			</if>
		</trim>
    </insert>

	<!-- 更新,更新全部字段 -->
    <update id="update" parameterType="com.ptu.devCloud.entity.ProjectRepository">
    	UPDATE project_repository
     	<set>		
			project_id = #{projectId},        
			repo_name = #{repoName},        
			repo_remark = #{repoRemark},        
			repo_type = #{repoType},        
			repo_url = #{repoUrl},        
			create_by = #{createBy},        
			create_date = #{createDate},        
			update_by = #{updateBy},        
			update_date = #{updateDate},        
     	</set>	
    	WHERE id = #{id}
    </update>  
    
    
    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="com.ptu.devCloud.entity.ProjectRepository">
    UPDATE project_repository
    	<set>
		<if test="projectId != null" >
			project_id = #{projectId},                 
		</if>
		<if test="repoName != null" >
			repo_name = #{repoName},                 
		</if>
		<if test="repoRemark != null" >
			repo_remark = #{repoRemark},                 
		</if>
		<if test="repoType != null" >
			repo_type = #{repoType},                 
		</if>
		<if test="repoUrl != null" >
			repo_url = #{repoUrl},                 
		</if>
		<if test="createBy != null" >
			create_by = #{createBy},                 
		</if>
		<if test="createDate != null" >
			create_date = #{createDate},                 
		</if>
		<if test="updateBy != null" >
			update_by = #{updateBy},                 
		</if>
		<if test="updateDate != null" >
			update_date = #{updateDate},                 
		</if>
    </set>
    WHERE id = #{id}
    </update>



</mapper>