<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptu.devCloud.mapper.RoleMapper">
	<resultMap id="BaseResultMap" type="com.ptu.devCloud.entity.Role">
            <result column="id" property="id" />
	        <result column="create_by" property="createBy" />
	        <result column="create_date" property="createDate" />
	        <result column="update_by" property="updateBy" />
	        <result column="update_date" property="updateDate" />
	        <result column="role_name" property="roleName" />
	        <result column="order_num" property="orderNum" />
	        <result column="status" property="status" />
		</resultMap>  
    
    <!-- 表字段 -->
    <sql id="baseColumns">
         t.id
        , t.create_by
        , t.create_date
        , t.update_by
        , t.update_date
        , t.role_name
        , t.order_num
        , t.status
        </sql> 
    
    <!-- 查询全部 -->
    <select id="listAll" resultMap="BaseResultMap">
		SELECT         
        	<include refid="baseColumns" />
		FROM role t
	</select>
 
 	<!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Long">
		SELECT         
        	<include refid="baseColumns" />
		FROM role t
		WHERE id = #{id} and t.status = true
	</select>
	<select id="selectListByQueryParams" resultType="com.ptu.devCloud.entity.vo.RoleVO">
		SELECT
		t.id
		, t.create_by as "createBy"
		, t.create_date as "createDate"
		, t.update_by as "updateBy"
		, t.update_date as "updateDate"
		, t.role_name as "roleName"
		, t.order_num as "orderNum"
		, t.status
		FROM role t
		<where>
			<if test="params.roleName != null and params.roleName != ''">
				t.roleName like CONCAT(CONCAT('%', #{params.roleName}), '%')
			</if>
			<if test="params.status != null">
				and t.status = #{params.status}
			</if>
		</where>
		ORDER BY t.create_date DESC
	</select>

	<!-- 插入全部字段 -->
    <insert id="insert" parameterType="com.ptu.devCloud.entity.Role"
		keyProperty="id" keyColumn="id" >
	INSERT INTO role
    	<trim prefix="(" suffix=")" suffixOverrides=",">	 
    	    	    	id,
    	    	    	    	create_by,
    	    	    	    	create_date,
    	    	    	    	update_by,
    	    	    	    	update_date,
    	    	    	    	role_name,
    	    	    	    	order_num,
    	    	    	    	status,
    	    	    	</trim>
    	<trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
    	    	        #{id},                   
    			    	        #{createBy},                   
    			    	        #{createDate},                   
    			    	        #{updateBy},                   
    			    	        #{updateDate},                   
    			    	        #{roleName},                   
    			    	        #{orderNum},                   
    			    	        #{status},                   
    			    	</trim>
	</insert>
    
    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="com.ptu.devCloud.entity.Role"
        keyProperty="id" keyColumn="id" >
        INSERT INTO role    
        <trim prefix="(" suffix=")" suffixOverrides=",">	 
        		        <if test="id != null">
			id,
		</if>
                		        <if test="createBy != null">
			create_by,
		</if>
                		        <if test="createDate != null">
			create_date,
		</if>
                		        <if test="updateBy != null">
			update_by,
		</if>
                		        <if test="updateDate != null">
			update_date,
		</if>
                		        <if test="roleName != null">
			role_name,
		</if>
                		        <if test="orderNum != null">
			order_num,
		</if>
                		        <if test="status != null">
			status,
		</if>
                        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
                        <if test="id != null" >
			#{id},                    
        </if>
                                <if test="createBy != null" >
			#{createBy},                    
        </if>
                                <if test="createDate != null" >
			#{createDate},                    
        </if>
                                <if test="updateBy != null" >
			#{updateBy},                    
        </if>
                                <if test="updateDate != null" >
			#{updateDate},                    
        </if>
                                <if test="roleName != null" >
			#{roleName},                    
        </if>
                                <if test="orderNum != null" >
			#{orderNum},                    
        </if>
                                <if test="status != null" >
			#{status},                    
        </if>
                        </trim>
    </insert>

	<!-- 更新,更新全部字段 -->
    <update id="update" parameterType="com.ptu.devCloud.entity.Role">
    UPDATE role
     <set>		
                    		create_by=#{createBy},        
               		create_date=#{createDate},        
               		update_by=#{updateBy},        
               		update_date=#{updateDate},        
               		role_name=#{roleName},        
               		order_num=#{orderNum},        
               		status=#{status},        
               </set>	
    WHERE id = #{id}
    </update>  
    
    
    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="com.ptu.devCloud.entity.Role">
    UPDATE role
    <set>
		    		<if test="createBy != null" >
		create_by=#{createBy},                 
	</if>
	    		<if test="createDate != null" >
		create_date=#{createDate},                 
	</if>
	    		<if test="updateBy != null" >
		update_by=#{updateBy},                 
	</if>
	    		<if test="updateDate != null" >
		update_date=#{updateDate},                 
	</if>
	    		<if test="roleName != null" >
		role_name=#{roleName},                 
	</if>
	    		<if test="orderNum != null" >
		order_num=#{orderNum},                 
	</if>
	    		<if test="status != null" >
		status=#{status},                 
	</if>
	        </set>
    WHERE id = #{id}
    </update>



</mapper>