<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptu.devCloud.mapper.RolePermissionMapper">
	<resultMap id="BaseResultMap" type="com.ptu.devCloud.entity.RolePermission">
            <result column="id" property="id" />
	        <result column="create_by" property="createBy" />
	        <result column="create_date" property="createDate" />
	        <result column="update_by" property="updateBy" />
	        <result column="update_date" property="updateDate" />
	        <result column="role_id" property="roleId" />
	        <result column="permission_id" property="permissionId" />
		</resultMap>  
    
    <!-- 表字段 -->
    <sql id="baseColumns">
         t.id
        , t.create_by
        , t.create_date
        , t.update_by
        , t.update_date
        , t.role_id
        , t.permission_id
        </sql> 
    
    <!-- 查询全部 -->
    <select id="listAll" resultMap="BaseResultMap">
		SELECT         
        	<include refid="baseColumns" />
		FROM role_permission t
	</select>
 
 	<!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Long">
		SELECT         
        	<include refid="baseColumns" />
		FROM role_permission t
		WHERE id = #{id}
	</select>

	<!-- 插入全部字段 -->
    <insert id="insert" parameterType="com.ptu.devCloud.entity.RolePermission"
		keyProperty="id" keyColumn="id" >
	INSERT INTO role_permission
    	<trim prefix="(" suffix=")" suffixOverrides=",">	 
    	    	    	id,
    	    	    	    	create_by,
    	    	    	    	create_date,
    	    	    	    	update_by,
    	    	    	    	update_date,
    	    	    	    	role_id,
    	    	    	    	permission_id,
    	    	    	</trim>
    	<trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
    	    	        #{id},                   
    			    	        #{createBy},                   
    			    	        #{createDate},                   
    			    	        #{updateBy},                   
    			    	        #{updateDate},                   
    			    	        #{roleId},                   
    			    	        #{permissionId},                   
    			    	</trim>
	</insert>
    
    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="com.ptu.devCloud.entity.RolePermission"
        keyProperty="id" keyColumn="id" >
        INSERT INTO role_permission    
        <trim prefix="(" suffix=")" suffixOverrides=",">	 
        		        <if test="id != null">
			id,
		</if>
                		        <if test="createBy != null">
			create_by,
		</if>
                		        <if test="createDate != null">
			create_date,
		</if>
                		        <if test="updateBy != null">
			update_by,
		</if>
                		        <if test="updateDate != null">
			update_date,
		</if>
                		        <if test="roleId != null">
			role_id,
		</if>
                		        <if test="permissionId != null">
			permission_id,
		</if>
                        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
                        <if test="id != null" >
			#{id},                    
        </if>
                                <if test="createBy != null" >
			#{createBy},                    
        </if>
                                <if test="createDate != null" >
			#{createDate},                    
        </if>
                                <if test="updateBy != null" >
			#{updateBy},                    
        </if>
                                <if test="updateDate != null" >
			#{updateDate},                    
        </if>
                                <if test="roleId != null" >
			#{roleId},                    
        </if>
                                <if test="permissionId != null" >
			#{permissionId},                    
        </if>
                        </trim>
    </insert>

	<!-- 更新,更新全部字段 -->
    <update id="update" parameterType="com.ptu.devCloud.entity.RolePermission">
    UPDATE role_permission
     <set>		
                    		create_by=#{createBy},        
               		create_date=#{createDate},        
               		update_by=#{updateBy},        
               		update_date=#{updateDate},        
               		role_id=#{roleId},        
               		permission_id=#{permissionId},        
               </set>	
    WHERE id = #{id}
    </update>  
    
    
    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="com.ptu.devCloud.entity.RolePermission">
    UPDATE role_permission
    <set>
		    		<if test="createBy != null" >
		create_by=#{createBy},                 
	</if>
	    		<if test="createDate != null" >
		create_date=#{createDate},                 
	</if>
	    		<if test="updateBy != null" >
		update_by=#{updateBy},                 
	</if>
	    		<if test="updateDate != null" >
		update_date=#{updateDate},                 
	</if>
	    		<if test="roleId != null" >
		role_id=#{roleId},                 
	</if>
	    		<if test="permissionId != null" >
		permission_id=#{permissionId},                 
	</if>
	        </set>
    WHERE id = #{id}
    </update>



</mapper>