<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptu.devCloud.mapper.TaskMapper">
	<resultMap id="BaseResultMap" type="com.ptu.devCloud.entity.Task">
        <result column="id" property="id" />
        <result column="task_name" property="taskName" />
        <result column="task_type" property="taskType" />
        <result column="task_status" property="taskStatus" />
        <result column="remark" property="remark" />
        <result column="operation_log" property="operationLog" />
        <result column="serial_number" property="serialNumber" />
        <result column="current_operator" property="currentOperator" />
        <result column="participant" property="participant" />
        <result column="correlation_ids" property="correlationIds" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
		<result column="team_id" property="teamId" />
		<result column="project_id" property="projectId" />
	</resultMap>  
    
    <!-- 表字段 -->
    <sql id="baseColumns">
		 t.id
		, t.task_name
		, t.task_type
		, t.task_status
		, t.remark
		, t.operation_log
		, t.serial_number
		, t.current_operator
		, t.participant
		, t.correlation_ids
		, t.create_by
		, t.create_date
		, t.update_by
		, t.update_date
		, t.team_id
		, t.project_id
    </sql> 
    
 
 	<!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Long">
		SELECT         
        	<include refid="baseColumns" />
		FROM task t
		WHERE id = #{id}
	</select>
    <select id="selectTodayMaxSerialNumber" resultType="java.lang.String">
		SELECT
			MAX(t.serial_number)
		FROM task t
		where TO_DAYS(t.create_date) = TO_DAYS(NOW())
	</select>
    <select id="selectListByQueryParams" resultMap="BaseResultMap">
		SELECT
		t.id
		, t.task_name
		, t.task_type
		, t.task_status
		, t.serial_number
		, t.current_operator
		, t.participant
		, t.correlation_ids
		, t.create_by
		, t.create_date
		, t.update_by
		, t.update_date
		, t.team_id
		, t.project_id
		, u.user_name as "currentOperatorName"
		, (SELECT sub_u.user_name FROM user sub_u where t.create_by = sub_u.id) as "createUserName"
		FROM task t
		left join user u on t.current_operator = u.id
		<where>
			<if test="params.createBy != null">
				t.create_by = #{params.createBy}
			</if>
			<if test="params.startDate != null">
				<![CDATA[
					and t.create_date >= #{params.startDate}
				]]>
			</if>
			<if test="params.endDate != null">
				<![CDATA[
					and t.create_date <= #{params.endDate}
				]]>
			</if>
			<if test="params.taskStatusList != null and params.taskStatusList.size() > 0">
				and t.task_status in
				<foreach item="item" collection="params.taskStatusList" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="params.taskTypeList != null and params.taskTypeList.size() > 0">
				and t.task_type in
				<foreach item="item" collection="params.taskTypeList" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="params.taskName != null and params.taskName != ''">
				and t.task_name like CONCAT(CONCAT('%', #{params.taskName}), '%')
			</if>
			<if test="params.serialNumber != null and params.serialNumber != ''">
				and t.serial_number like CONCAT(CONCAT('%', #{params.serialNumber}), '%')
			</if>
			<if test="params.currentOperator != null">
				and t.current_operator = #{params.currentOperator}
			</if>
			<if test="params.participant != null and params.participant != ''">
				and FIND_IN_SET(#{params.participant}, t.participant) > 0
			</if>
			<if test="params.createUsers != null and params.createUsers.size() > 0">
				and t.create_by in
				<foreach item="item" collection="params.createUsers" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="params.currentOperators != null and params.currentOperators.size() > 0">
				and t.current_operator in
				<foreach item="item" collection="params.currentOperators" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="params.teamId != null">
				and t.team_id = #{params.teamId}
			</if>
			<if test="params.projectIds != null and params.projectIds.size() > 0">
				and t.project_id in
				<foreach item="item" collection="params.projectIds" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
		ORDER BY t.create_date DESC
	</select>
	<select id="selectByIdsIgnoreRemark" resultMap="BaseResultMap">
		SELECT
			t.id
			, t.task_name
			, t.task_type
			, t.task_status
			, t.serial_number
			, t.current_operator
			, t.participant
			, t.correlation_ids
			, t.create_by
			, t.create_date
			, t.update_by
			, t.update_date
			, t.team_id
			, t.project_id
		FROM task t
		where t.id IN
		<foreach item="item" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
		ORDER BY t.create_date DESC
	</select>
	<select id="selectBySerialNumber" resultMap="BaseResultMap">
		SELECT
		<include refid="baseColumns" />
		, u.user_name as "currentOperatorName"
		, (SELECT sub_u.user_name FROM user sub_u WHERE t.create_by = sub_u.id) as "createUserName"
		, (SELECT sub_t.team_name FROM team sub_t WHERE t.team_id = sub_t.id) as "teamName"
		, (SELECT sub_p.project_name FROM project sub_p WHERE t.project_id = sub_p.id) as "projectName"
		FROM task t
		LEFT JOIN user u ON t.current_operator = u.id
		WHERE t.serial_number = #{serialNumber}
	</select>
    <select id="selectTaskStatusByIds" resultType="java.lang.String">
		SELECT
		t.task_status
		FROM task t
		WHERE t.id IN
		<foreach item="item" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

    <!-- 插入全部字段 -->
    <insert id="insert" parameterType="com.ptu.devCloud.entity.Task"
		keyProperty="id" keyColumn="id" >
		INSERT INTO task
    	<trim prefix="(" suffix=")" suffixOverrides=",">	 
    		id,
    		task_name,
    		task_type,
    		task_status,
    		remark,
    		operation_log,
    		serial_number,
    		current_operator,
    		participant,
    		correlation_ids,
    		create_by,
    		create_date,
    		update_by,
    		update_date,
			team_id,
			project_id,
    	</trim>
    	<trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
        	#{id},                   
        	#{taskName},                   
        	#{taskType},                   
        	#{taskStatus},                   
        	#{remark},                   
        	#{operationLog},                   
        	#{serialNumber},                   
        	#{currentOperator},                   
        	#{participant},                   
        	#{correlationIds},                   
        	#{createBy},                   
        	#{createDate},                   
        	#{updateBy},                   
        	#{updateDate},
			#{teamId},
			#{projectId},
    	</trim>
	</insert>
    
    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="com.ptu.devCloud.entity.Task"
        keyProperty="id" keyColumn="id" >
        INSERT INTO task    
		<trim prefix="(" suffix=")" suffixOverrides=",">	 
			<if test="id != null">
				id,
			</if>
			<if test="taskName != null">
				task_name,
			</if>
			<if test="taskType != null">
				task_type,
			</if>
			<if test="taskStatus != null">
				task_status,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="operationLog != null">
				operation_log,
			</if>
			<if test="serialNumber != null">
				serial_number,
			</if>
			<if test="currentOperator != null">
				current_operator,
			</if>
			<if test="participant != null">
				participant,
			</if>
			<if test="correlationIds != null">
				correlation_ids,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="teamId != null">
				team_id,
			</if>
			<if test="projectId != null">
				project_id,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
			<if test="id != null" >
				#{id},                    
			</if>
			<if test="taskName != null" >
				#{taskName},                    
			</if>
			<if test="taskType != null" >
				#{taskType},                    
			</if>
			<if test="taskStatus != null" >
				#{taskStatus},                    
			</if>
			<if test="remark != null" >
				#{remark},                    
			</if>
			<if test="operationLog != null" >
				#{operationLog},                    
			</if>
			<if test="serialNumber != null" >
				#{serialNumber},                    
			</if>
			<if test="currentOperator != null" >
				#{currentOperator},                    
			</if>
			<if test="participant != null" >
				#{participant},                    
			</if>
			<if test="correlationIds != null" >
				#{correlationIds},                    
			</if>
			<if test="createBy != null" >
				#{createBy},                    
			</if>
			<if test="createDate != null" >
				#{createDate},                    
			</if>
			<if test="updateBy != null" >
				#{updateBy},                    
			</if>
			<if test="updateDate != null" >
				#{updateDate},                    
			</if>
			<if test="teamId != null" >
				#{teamId},
			</if>
			<if test="projectId != null" >
				#{projectId},
			</if>
		</trim>
    </insert>

	<!-- 更新,更新全部字段 -->
    <update id="update" parameterType="com.ptu.devCloud.entity.Task">
    	UPDATE task
     	<set>		
			task_name = #{taskName},        
			task_type = #{taskType},        
			task_status = #{taskStatus},        
			remark = #{remark},        
			operation_log = #{operationLog},        
			serial_number = #{serialNumber},        
			current_operator = #{currentOperator},        
			participant = #{participant},        
			correlation_ids = #{correlationIds},        
			create_by = #{createBy},        
			create_date = #{createDate},        
			update_by = #{updateBy},        
			update_date = #{updateDate},
			team_id = #{teamId},
			project_id = #{projectId},
		</set>
    	WHERE id = #{id}
    </update>  
    
    
    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="com.ptu.devCloud.entity.Task">
    UPDATE task
    	<set>
		<if test="taskName != null" >
			task_name = #{taskName},                 
		</if>
		<if test="taskType != null" >
			task_type = #{taskType},                 
		</if>
		<if test="taskStatus != null" >
			task_status = #{taskStatus},                 
		</if>
		<if test="remark != null" >
			remark = #{remark},                 
		</if>
		<if test="operationLog != null" >
			operation_log = #{operationLog},                 
		</if>
		<if test="serialNumber != null" >
			serial_number = #{serialNumber},                 
		</if>
		<if test="currentOperator != null" >
			current_operator = #{currentOperator},                 
		</if>
		<if test="participant != null" >
			participant = #{participant},                 
		</if>
		<if test="correlationIds != null" >
			correlation_ids = #{correlationIds},                 
		</if>
		<if test="createBy != null" >
			create_by = #{createBy},                 
		</if>
		<if test="createDate != null" >
			create_date = #{createDate},                 
		</if>
		<if test="updateBy != null" >
			update_by = #{updateBy},                 
		</if>
		<if test="updateDate != null" >
			update_date = #{updateDate},                 
		</if>
		<if test="teamId != null" >
			team_id = #{teamId},
		</if>
		<if test="projectId != null" >
			project_id = #{projectId},
		</if>
    </set>
    WHERE id = #{id}
    </update>

	<update id="updateTaskStatusBySerialNumber">
		UPDATE task t SET t.task_status = #{taskStatus}
		WHERE t.serial_number = #{serialNumber}
	</update>

	<update id="updateOperationLogBySerialNumber" parameterType="string">
		UPDATE task t SET t.operation_log = CONCAT(IF(t.operation_log is null, '', t.operation_log),#{context})
		WHERE t.serial_number = #{serialNumber}
	</update>
	<update id="updateBySerialNumberIgnoreNull" parameterType="com.ptu.devCloud.entity.Task">
		UPDATE task
		<set>
			<if test="taskName != null" >
				task_name = #{taskName},
			</if>
			<if test="taskType != null" >
				task_type = #{taskType},
			</if>
			<if test="taskStatus != null" >
				task_status = #{taskStatus},
			</if>
			<if test="remark != null" >
				remark = #{remark},
			</if>
			<if test="operationLog != null" >
				operation_log = #{operationLog},
			</if>
			<if test="serialNumber != null" >
				serial_number = #{serialNumber},
			</if>
			<if test="currentOperator != null" >
				current_operator = #{currentOperator},
			</if>
			<if test="participant != null" >
				participant = #{participant},
			</if>
			<if test="correlationIds != null" >
				correlation_ids = #{correlationIds},
			</if>
			<if test="createBy != null" >
				create_by = #{createBy},
			</if>
			<if test="createDate != null" >
				create_date = #{createDate},
			</if>
			<if test="updateBy != null" >
				update_by = #{updateBy},
			</if>
			<if test="updateDate != null" >
				update_date = #{updateDate},
			</if>
			<if test="teamId != null" >
				team_id = #{teamId},
			</if>
			<if test="projectId != null" >
				project_id = #{projectId},
			</if>
		</set>
		WHERE serial_number = #{serialNumber}
	</update>
	<update id="appendCorrelationIdsById">
		UPDATE task t SET t.correlation_ids = CONCAT(IF(t.correlation_ids is null, '', CONCAT(t.correlation_ids, ',')),#{context})
		WHERE t.id IN
		<foreach item="item" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	<update id="updateTaskStatusByIds">
		UPDATE task t SET t.task_status = #{status}
		WHERE t.id IN
		<foreach item="item" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	<update id="updateOperationLogAppendCloseByIds">
		UPDATE task t SET t.operation_log = CONCAT(IF(t.operation_log is null, '', t.operation_log),#{context})
		WHERE t.id IN
		<foreach item="item" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
		AND t.task_status != 'close'
	</update>


</mapper>