<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptu.devCloud.mapper.TaskMapper">
	<resultMap id="BaseResultMap" type="com.ptu.devCloud.entity.Task">
        <result column="id" property="id" />
        <result column="task_name" property="taskName" />
        <result column="task_type" property="taskType" />
        <result column="task_status" property="taskStatus" />
        <result column="remark" property="remark" />
        <result column="operation_log" property="operationLog" />
        <result column="serial_number" property="serialNumber" />
        <result column="current_operator" property="currentOperator" />
        <result column="participant" property="participant" />
        <result column="correlation_ids" property="correlationIds" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
	</resultMap>  
    
    <!-- 表字段 -->
    <sql id="baseColumns">
		 t.id
		, t.task_name
		, t.task_type
		, t.task_status
		, t.remark
		, t.operation_log
		, t.serial_number
		, t.current_operator
		, t.participant
		, t.correlation_ids
		, t.create_by
		, t.create_date
		, t.update_by
		, t.update_date
    </sql> 
    
 
 	<!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Long">
		SELECT         
        	<include refid="baseColumns" />
		FROM task t
		WHERE id = #{id}
	</select>
    <select id="selectTodayMaxSerialNumber" resultType="java.lang.String">
		SELECT
			MAX(t.serial_number)
		FROM task t
		where TO_DAYS(t.create_date) = TO_DAYS(NOW())
	</select>

    <!-- 插入全部字段 -->
    <insert id="insert" parameterType="com.ptu.devCloud.entity.Task"
		keyProperty="id" keyColumn="id" >
		INSERT INTO task
    	<trim prefix="(" suffix=")" suffixOverrides=",">	 
    		id,
    		task_name,
    		task_type,
    		task_status,
    		remark,
    		operation_log,
    		serial_number,
    		current_operator,
    		participant,
    		correlation_ids,
    		create_by,
    		create_date,
    		update_by,
    		update_date,
    	</trim>
    	<trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
        	#{id},                   
        	#{taskName},                   
        	#{taskType},                   
        	#{taskStatus},                   
        	#{remark},                   
        	#{operationLog},                   
        	#{serialNumber},                   
        	#{currentOperator},                   
        	#{participant},                   
        	#{correlationIds},                   
        	#{createBy},                   
        	#{createDate},                   
        	#{updateBy},                   
        	#{updateDate},                   
    	</trim>
	</insert>
    
    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="com.ptu.devCloud.entity.Task"
        keyProperty="id" keyColumn="id" >
        INSERT INTO task    
		<trim prefix="(" suffix=")" suffixOverrides=",">	 
			<if test="id != null">
				id,
			</if>
			<if test="taskName != null">
				task_name,
			</if>
			<if test="taskType != null">
				task_type,
			</if>
			<if test="taskStatus != null">
				task_status,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="operationLog != null">
				operation_log,
			</if>
			<if test="serialNumber != null">
				serial_number,
			</if>
			<if test="currentOperator != null">
				current_operator,
			</if>
			<if test="participant != null">
				participant,
			</if>
			<if test="correlationIds != null">
				correlation_ids,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
			<if test="id != null" >
				#{id},                    
			</if>
			<if test="taskName != null" >
				#{taskName},                    
			</if>
			<if test="taskType != null" >
				#{taskType},                    
			</if>
			<if test="taskStatus != null" >
				#{taskStatus},                    
			</if>
			<if test="remark != null" >
				#{remark},                    
			</if>
			<if test="operationLog != null" >
				#{operationLog},                    
			</if>
			<if test="serialNumber != null" >
				#{serialNumber},                    
			</if>
			<if test="currentOperator != null" >
				#{currentOperator},                    
			</if>
			<if test="participant != null" >
				#{participant},                    
			</if>
			<if test="correlationIds != null" >
				#{correlationIds},                    
			</if>
			<if test="createBy != null" >
				#{createBy},                    
			</if>
			<if test="createDate != null" >
				#{createDate},                    
			</if>
			<if test="updateBy != null" >
				#{updateBy},                    
			</if>
			<if test="updateDate != null" >
				#{updateDate},                    
			</if>
		</trim>
    </insert>

	<!-- 更新,更新全部字段 -->
    <update id="update" parameterType="com.ptu.devCloud.entity.Task">
    	UPDATE task
     	<set>		
			task_name = #{taskName},        
			task_type = #{taskType},        
			task_status = #{taskStatus},        
			remark = #{remark},        
			operation_log = #{operationLog},        
			serial_number = #{serialNumber},        
			current_operator = #{currentOperator},        
			participant = #{participant},        
			correlation_ids = #{correlationIds},        
			create_by = #{createBy},        
			create_date = #{createDate},        
			update_by = #{updateBy},        
			update_date = #{updateDate},        
     	</set>	
    	WHERE id = #{id}
    </update>  
    
    
    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="com.ptu.devCloud.entity.Task">
    UPDATE task
    	<set>
		<if test="taskName != null" >
			task_name = #{taskName},                 
		</if>
		<if test="taskType != null" >
			task_type = #{taskType},                 
		</if>
		<if test="taskStatus != null" >
			task_status = #{taskStatus},                 
		</if>
		<if test="remark != null" >
			remark = #{remark},                 
		</if>
		<if test="operationLog != null" >
			operation_log = #{operationLog},                 
		</if>
		<if test="serialNumber != null" >
			serial_number = #{serialNumber},                 
		</if>
		<if test="currentOperator != null" >
			current_operator = #{currentOperator},                 
		</if>
		<if test="participant != null" >
			participant = #{participant},                 
		</if>
		<if test="correlationIds != null" >
			correlation_ids = #{correlationIds},                 
		</if>
		<if test="createBy != null" >
			create_by = #{createBy},                 
		</if>
		<if test="createDate != null" >
			create_date = #{createDate},                 
		</if>
		<if test="updateBy != null" >
			update_by = #{updateBy},                 
		</if>
		<if test="updateDate != null" >
			update_date = #{updateDate},                 
		</if>
    </set>
    WHERE id = #{id}
    </update>



</mapper>